In [25]:
import csv
import pandas as pd
import numpy as np

In [67]:
filepath = "Resources/data-scientist-job-market-in-the-us/alldata.csv"
all_df = pd.read_csv(filepath)
all_df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [68]:
all_df['reviews'] = all_df['reviews'].fillna(value=0)
all_df = all_df.dropna()
all_df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,0.0,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",0.0,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",0.0,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [ ]:
all_df.head()

In [69]:
city_list = []
zip_list = []
for i in range(len(all_df)):
    if "0" in all_df.iloc[i,4]:
        zip_list.append(all_df.iloc[i,4][-6:-1])
        city_list.append(all_df.iloc[i,4][:-6])
    elif "1" in all_df.iloc[i,4]:
        zip_list.append(all_df.iloc[i,4][-6:-1])
        city_list.append(all_df.iloc[i,4][:-6])
    elif "2" in all_df.iloc[i,4]:
        zip_list.append(all_df.iloc[i,4][-6:-1])
        city_list.append(all_df.iloc[i,4][:-6])
    elif "3" in all_df.iloc[i,4]:
        zip_list.append(all_df.iloc[i,4][-6:-1])
        city_list.append(all_df.iloc[i,4][:-6])
    elif "4" in all_df.iloc[i,4]:
        zip_list.append(all_df.iloc[i,4][-6:-1])
        city_list.append(all_df.iloc[i,4][:-6])
    elif "5" in all_df.iloc[i,4]:
        zip_list.append(all_df.iloc[i,4][-6:-1])
        city_list.append(all_df.iloc[i,4][:-6])
    elif "6" in all_df.iloc[i,4]:
        zip_list.append(all_df.iloc[i,4][-6:-1])
        city_list.append(all_df.iloc[i,4][:-6])
    elif "7" in all_df.iloc[i,4]:
        zip_list.append(all_df.iloc[i,4][-6:-1])
        city_list.append(all_df.iloc[i,4][:-6])
    elif "8" in all_df.iloc[i,4]:
        zip_list.append(all_df.iloc[i,4][-6:-1])
        city_list.append(all_df.iloc[i,4][:-6])
    elif "9" in all_df.iloc[i,4]:
        zip_list.append(all_df.iloc[i,4][-6:-1])
        city_list.append(all_df.iloc[i,4][:-6])
    else:
        zip_list.append("None")
        city_list.append(all_df.iloc[i,4])

In [64]:
len(city_list)

6953

In [70]:
all_df['Zipcode'] = pd.Series(zip_list)
all_df['location'] = pd.Series(city_list)

In [87]:
all_df.head()

,position,company,description,reviews,location,Zipcode
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,0.0,"Atlanta, GA",30301
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",0.0,"Atlanta, GA",None
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",0.0,"Atlanta, GA",None
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA",30303
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA",None

In [91]:
company_dict = {}
for i in range(len(all_df)):
    company = all_df.iloc[i, 1]
    if company not in company_dict:
        company_dict[company] = {'positions': 1, 'reviews': all_df.iloc[i, 3]}
    else:
        company_dict[company]['positions'] += 1

In [78]:
company_series = pd.Series(company_dict)
company_series.describe()

count    2213.000000
mean        3.141889
std        10.736012
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max       358.000000
dtype: float64

In [93]:
job_dict = {}
for i in range(len(all_df)):
    job = all_df.iloc[i, 0]
    if job not in job_dict:
        job_dict[job] = 1
    else:
        job_dict[job] += 1

In [97]:
company_list = []
positions_list = []
reviews_list = []

for i in range(len(all_df)):
    company = all_df.iloc[i, 1]
    if company not in company_list:
        company_list.append(company)
        reviews_list.append(all_df.iloc[i,3])

for i in company_list:
    positions_list.append(company_dict[i]['positions'])

In [98]:
company_df = pd.DataFrame({'Company':company_list, 'Positions': positions_list, 'Reviews': reviews_list})

In [105]:
company_df['Positions'].value_counts().head()

1    1330
2     372
3     168
4      82
5      56
Name: Positions, dtype: int64

In [111]:
company_df.loc[1330, 'Positions']

1

In [109]:
company_df.head()

              Company  Positions  Reviews
0             ALS TDI          5      0.0
1  The Hexagon Lavish          4      0.0
2      Xpert Staffing          1      0.0
3      Operation HOPE          2     44.0
4    Emory University         15    550.0