In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
filepath = "Resources/data-scientist-job-market-in-the-us/alldata.csv"
all_df = pd.read_csv(filepath)
all_df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [9]:
all_df['reviews'] = all_df['reviews'].fillna(value=0)
all_df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,0.0,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",0.0,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",0.0,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [20]:
all_df.count()

position       6953
company        6953
description    6953
reviews        6964
location       6953
Zipcode        6953
dtype: int64

In [32]:
all_df['Zipcode'] = all_df['location']
for i in range(0,len(all_df)):
    if "0" in all_df.iloc[i,4]:
        all_df.iloc[i, 5] = all_df.iloc[i,4][-5:-1]
    elif "1" in all_df.iloc[i,4]:
        all_df.iloc[i, 5] = all_df.iloc[i,4][-5:-1]
    elif "2" in all_df.iloc[i,4]:
        all_df.iloc[i, 5] = all_df.iloc[i,4][-5:-1]    
    elif "3" in all_df.iloc[i,4]:
        all_df.iloc[i, 5] = all_df.iloc[i,4][-5:-1]
    elif "4" in all_df.iloc[i,4]:
        all_df.iloc[i, 5] = all_df.iloc[i,4][-5:-1]
    elif "5" in all_df.iloc[i,4]:
        all_df.iloc[i, 5] = all_df.iloc[i,4][-5:-1]
    elif "6" in all_df.iloc[i,4]:
        all_df.iloc[i, 5] = all_df.iloc[i,4][-5:-1]
    elif "7" in all_df.iloc[i,4]:
        all_df.iloc[i, 5] = all_df.iloc[i,4][-5:-1]
    elif "8" in all_df.iloc[i,4]:
        all_df.iloc[i, 5] = all_df.iloc[i,4][-5:-1]
    elif "9" in all_df.iloc[i,4]:
        all_df.iloc[i, 5] = all_df.iloc[i,4][-5:-1]
    else:
        all_df.iloc[i, 5] = 'None'
all_df.head(20)

TypeError: argument of type 'float' is not iterable

In [35]:
all_df.iloc[len(all_df)-1]

position                 Principal Data Scientist, Deep Learning
company                                                  Comcast
description    Comcast’s Technology &amp; Product organizatio...
reviews                                                    11610
location                                     Sunnyvale, CA 94089
Zipcode                                      Sunnyvale, CA 94089
Name: 6963, dtype: object